meta.foundation-data-attribute-namespace {
    font-family: false;
}
.xyz {
  border-width:1px;
  border-style:solid;
  border-color:black;
}
.galleria{
  width: 100%;
  height: 300px;
  background: #000
}
 
 img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}
